@font-face {
    font-family: 'Aldrich';
    src: url("Aldrich-Regular.ttf");
}

/* * { */
    /* box-sizing: border-box; */
/* } */

body,
html,

/* #game, */
/* #game canvas, */
#display,
#background {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: #0d131c;
}

#playersList,
#readying,
#game canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* background-color: black; */
    position: absolute;
    left: 0;
    top: 0;
    cursor: default;
    z-index: 0;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
}

#background {
    /* background-color: #1b2838; */
    /* background-color: #2d4c71; */
    /* background-color: black !important; */
    z-index: -10;
}

#game {
    position: relative;
    width: 52%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #04152f;
}

#score {
    position: absolute;
    /* width: 10%; */
    /* height: 7%; */
    top: 0;
    left: 45%;
    /* background-color: #0d131c; */
    /* color: rgba(255, 255, 255, 0.55); */
    color: white;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Aldrich', sans-serif;
    z-index: 10;
}

.score-card {
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 1%; */
    /* font-size: 0.43em; */
}

#score #p1 {
    float: left;
}

#score #p2 {
    float: right;
}

.btn {
    position: fixed;
}

#pause {
    left: 0;
}

.resume {
    left: 100px;
}

#mute {
    left: 0;
    top: 100px;
}

#pause-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1000;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    font-size: 100px;
    color: white;
}

#count-down {
    width: 20%;
    height: 20%;
    left: 40%;
    top: 40%;
    position: fixed;
    /* background-color: yellow; */
}


/* Pause Menu */

#pause-menu,
#win-message {
    color: white;
    width: 20%;
    height: 43%;
    /* padding: 10%; */
    left: 40%;
    top: 25%;
    position: fixed;
    /* z-index:  */
    font-size: 0.25em;
}

#pause-menu>p,
#win-message>p {
    width: 100%;
    margin: 0;
}

#pause-menu .div-btn,
#win-message .div-btn {
    cursor: pointer;
    background-color: white;
    color: black;
    width: 100%;
    margin-bottom: 7%;
    border-radius: 4.3px;
    /* height: 25%; */
}

#win-message {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4.3px;
    background-color: white;
}

#win-message>div {
    height: 80%;
}

#win-message #winner {
    /* text-decoration: underline; */
    color: black;
    height: 20%;
    margin-bottom: 10.7%;
    padding-top: 7%;
    padding-bottom: 7%;
}

#win-message .div-btn {
    color: white;
    background-color: black;
}


/* Main Menu */

#main-menu {
    position: absolute;
    z-index: 10000;
}

/* Tournament code */


#playersList {
    box-sizing: border-box;
    color: #7fa5dd;
    padding: 7%;
    padding-right: 0;
    width: 92%;
    height: 92%;
    font-family: 'Aldrich', sans-serif;
    /* background-color: #000000; */
}

#buttons {
    padding-right: 2.8%;
    padding-left: 1.4%;
}

.listPanels {
    width: 50%;
    height: 100%;
    float: left;
    overflow-y: auto;
    border-top: 1px solid #7fa5dd;
}

.actionInline {
    margin-bottom: 7px;
    -webkit-appearance: none;
    border: 1px solid #7fa5dd;
    background-color: #082f67;
    color: #7fa5dd;
}

#removeContenderBtn {
    margin-right: 7px;
}
#startTournamentBtn,
#removeContenderBtn {
    float: right;
}
#availablePlayersBtn {
    /* clear: left; */
    width: 48.6%;
    border-right: 1px solid #7fa5dd;
}

#contendersList {
    width: 48.6%;
    padding-left: 1.4%;
}

#picPreview {
    width: 100%;
    height: 90%;
}

#takePhoto {
    display: block;
    width: 17%;
    margin-left: auto;
    margin-right: auto;
}

#ready {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ready div {
    padding-top: 34%;
    /* position: relative; */
    /* left: calc(25% - 0); */
    color: #7fa5dd;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 140px;
    font-weight: bolder;
    font-family: 'Aldrich', sans-serif;
}

#champion {
    /* z-index: 10000; */
    /* position: absolute; */
    /* background-color: #082f67; */
    color: #7fa5dd;
    width: 100%;
    height: 100%;
}

#champion div {
    padding-top: 25%;
    /* position: relative; */
    /* left: calc(25% - 0); */
    color: #7fa5dd;
    width: 92%;
    margin: 0 auto;
    text-align: center;
    font-size: 124px;
    font-weight: bolder;
    font-family: 'Aldrich', sans-serif;
}

#champion div#winnerName {
    padding-top: 0;
    color: white;
}